/*Website Styles*/
/*Reset rule(s) for all HTML tags*/
 * {
  font-size: 100%;
  /* border: 1px solid blue; */
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

/*Body styling*/
body {
  background-color: floralwhite;
  /*Setting the font color*/
  color: darkolivegreen;
  /*Setting the font style or family*/
  font-family: 'Antic Slab', cambria, palatino, garamond;
  font-size: 14px;
  margin: 50px;
}

/*Header, Section, and Footer styling*/
header, section, footer {
  padding:30px;
}

/*Header styling*/
header {
  border-top: 5px solid grey;
}

/*Section styling*/
section {
  border: 1px solid gainsboro;
  background-color: white;
  margin: 30px;
  padding: 30px;
}

/*All Headings styling*/
h1, h2, h3 {
  /*Google Font 'Amatic SC' only available in 400(lighter or normal) and 700(bold) weights*/
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
}

/*Heading 1 styling*/
h1 {
  background-color: darkblue;
  color: floralwhite;
  font-family: 'Amatic SC', optima, trebuchet, helvetica;
  font-size: 36px;
  line-height: 3;
  text-align: left;
}

/*Header's Heading 1 styling*/
/*Nested Selector Syntax = parent child {CSS rule(s)}*/
header h1 {
  text-align: center;
}

/*Heading 2 styling*/
h2 {
  /* background-color: blue; */
  color: darkblue;
  font-family: 'Amatic SC', optima, trebuchet, helvetica;
  font-size: 24px;
  line-height: 2;
}

/*Heading 3 styling*/
h3 {
  font-size: 18px;
}

/*Paragraph styling*/
p {
  color: dimgray;
  line-height: 2;
  margin: 15px 0px;
}

/*Anchor styling*/
a {
  colour: deepskyblue;
  text-decoration: none;
}

/*Anchor hover state styling*/
/*Pseudo-Class Selector Syntax = element:state {CSS rule(s)}*/
a:hover {
  text-decoration: underline;
}

/*Lists styling*/
ul, ol {
  margin: 15px 0px;
}

/*Image styling*/
img {
  width: 40%;
  height: 50%;
}

/*Title class styling*/
/*Class Selector Syntax = .class-name {CSS rule(s)} || class selectors are specific & overule proceding general type selectors (like h1)*/
.title{
  font-size: 48px;
  text-decoration: underline overline;
}

/*Button-to-top class styling*/
/*ID Selector Syntax = #id {CSS rule(s)} || ID selectors are prone to creating bugs, making Type and Class selectors preferable*/
#button-to-top {
  height: 80px;
  width: 80px;
}
